// ----------------------------------------------------
// This file contains all application-wide Sass mixins.
// ----------------------------------------------------

@use "variables" as *;

// Breakpoints
// Use to create styles specific for targeted screen sizes
@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoint-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down, $size)) {
    @content;
  }
}

// Flexbox
// Use for the layout and alignment of flexible content
@mixin flex($justify: flex-start, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin inline-flex($justify: flex-start, $align: flex-start) {
  display: inline-flex;
  justify-content: $justify;
  align-items: $align;
}

// Visually Hidden
// Hide element while making it readable for screen readers
@mixin visually-hidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  width: 1px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
}
